@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
  padding: 5%;
  background-image: url(https://www.nicepng.com/png/detail/6-66089_miyazaki-drawing-watercolor-my-neighbor-totoro-art.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgb(246,246,246);
  background-position: 100%;
}

/* TEXTO PRINCIPAL */

h1 {
  font-size: larger;
  font-family: 'Noto Sans JP', sans-serif;
  color: black;
}

/* FORMULÁRIO */

.forms {
  font-size: larger;
  font-family: 'Noto Sans JP', sans-serif;
  color: black;
}

.forms-sexo {
  font-size: medium;
  font-family: 'Noto Sans JP', sans-serif;
  color: black;
}

/* NAVBAR */

a,
a:active,
a::after {
    text-decoration: none;
    color: white;
}

a:hover {
    color: rgb(0, 255, 0);
}

.navbar {
    margin: 0.5rem;
    border-radius: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.532);
    z-index: 1;
}

.container {
    margin: 1rem;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.nav-item {
    color: white;
    padding: 0.5rem;
}

/* CONTEÚDO INÍCIO */

.content {
  position: fixed; 
}
/* Define a posição onde o texto principal ficará */

.line {
 display: flex;
 position: fixed;
}
/* Define o alinhamento dos itens contidos na classe .line */

.content-item {
 top:50%;                      
 transform: translate(0, 120%);
 white-space: nowrap;
 font-size: 5rem;
 color: white;
 overflow: hidden;
 animation: writer 2s steps(20) alternate;
}
/* Formatação do texto principal da página */

@keyframes writer {
 from {
   width: 0;
 }
 to {
   width: 57rem;
 }
}
/* Animação do título (máquina de escrever) */

@keyframes push {
 from {
     transform: translateY(-30%);
 }
 to {
     transform: translateY(0);
 }
}

/* RODAPÉ */

footer {
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.532);
  color: white;
  text-align: center;
  justify-content: center;
  font-size: smaller;
  vertical-align: middle;
  padding: 0.5rem;
  position: absolute;
}